<template>
  <footer class="footer">
    <p>{{ firstName }} {{ lastName }} - {{ program }}</p>
  </footer>
</template>

<script>
export default {
  name: 'MainFooter',
  data() {
    return {
      firstName: 'Adrien',
      lastName: 'Delcambre',
      program: 'IMAC2'
    };
  }
}
</script>

<style>
.footer {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
}
</style>
