<template>
  <header class="header">
    <h1 class="title">{{ pageTitle }}</h1>
  </header>
</template>

<script>
export default {
  name: 'MainHeader',
  props: {
    pageTitle: {
      type: String,
      required: true
    }
  }
}
</script>

<style>
.header {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
}

.header .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
</style>
