<template>
    <div class="gallery-options">
      <input type="text" name="search" v-model="search" placeholder="Chercher un film" @input="searchMovies">
      <button v-if="search" class="clear-button" @click="clearSearch">&#10006;</button>
      <movies-sorter :selectedSortType="sortType" @sort-changed="handleSortChanged"></movies-sorter>
    </div>
  </template>
  
  <script>
  import MoviesSorter from './MoviesSorter.vue';
  
  export default {
    components: {
      MoviesSorter
    },
    data() {
      return {
        search: "",
        sortType: "Top250"
      }
    },
    methods: {
      searchMovies() {
        const searchTerm = this.search.toLowerCase();
        this.$emit("search-changed", searchTerm);
      },
      clearSearch() {
        this.search = "";
        this.$emit("search-cleared");
      },
      handleSortChanged(sortType) {
        this.$emit("sort-changed", sortType);
      }
    }
  }
  </script>
  
  <style>
  .gallery-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .clear-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #888;
  }
  </style>
  