<template>
  <div class="movie-card">
    <img class="picture" v-bind:src="pictureUrl"/>
    <div>
      <h2 class="title">{{title}}</h2>
      <p class="year">{{year}}</p>
    </div>  
</div>
</template>
  
<script>
  export default {
    name: 'MovieCard',
    props: {
    title: {type: String, required: true},
    year: String, 
    pictureUrl: {type: String, default:"https://www.salonlfc.com/wp-content/uploads/2018/01/image-not-found-1-scaled-1150x647.png"}
    },
    
}
</script>
  

<style>
.movie-card {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  align-items: center;
  width: 15rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: filter 0.3s;
}

.movie-card .picture {
  width: 100%;
  height: auto;
}

.movie-card .movie-details {
  text-align: center;
}

.movie-card .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.movie-card .year {
  font-size: 1rem;
  color: #777;
}

.movie-card:hover {
  filter: brightness(70%);;
}
</style>
