<template>
  <div class="movies-gallery">
    <movie-gallery-options
      @search-changed="searchMovies"
      @search-cleared="clearSearch"
      @sort-changed="handleSortChanged"
    ></movie-gallery-options>
    <div class="gallery">
      <movie-card
        v-for="movie in sortedMoviesData"
        :key="movie.id"
        :title="movie.title"
        :year="movie.year"
        :pictureUrl="movie.image"
      ></movie-card>
    </div>
    <div v-if="error" class="error-message">Erreur lors de la récupération des données. Veuillez réessayer plus tard.</div>
  </div>
</template>

<script>
import MovieCard from './MovieCard.vue';
import MovieGalleryOptions from './MovieGalleryOptions.vue';
import { getMoviesData } from '@/services/api/imdbAPI';

export default {
  name: 'MoviesGallery',
  components: {
    MovieCard,
    MovieGalleryOptions
  },
  data() {
    return {
      moviesData: [],
      originalMoviesData: [],
      search: "",
      sortType: "Top250", // Ajout de la propriété sortType avec la valeur par défaut "Top250"
      error: false
    }
  },
  computed: {
    sortedMoviesData() {
      return this.moviesData.slice().sort((a, b) => {
        if (this.sortType === "AZTitle") {
          return a.title.localeCompare(b.title);
        } else if (this.sortType === "ZATitle") {
          return b.title.localeCompare(a.title);
        } else {
          return 0; 
        }
      });
    }
  },
  methods: {
    async retrieveMoviesData() {
      if (this.moviesData.length === 0) {
        try {
          const movie = await getMoviesData();
          this.moviesData = movie.items;
          this.originalMoviesData = [...movie.items];
          this.error = false;
        } catch (error) {
          console.error("Erreur lors de la récupération des données :", error);
          this.error = true;
        }
      }
    },
    searchMovies(searchTerm) {
      const lowercaseSearchTerm = searchTerm.toLowerCase();
      this.moviesData = this.originalMoviesData.filter(movie => movie.title.toLowerCase().includes(lowercaseSearchTerm));
    },
    clearSearch() {
      this.search = "";
      this.moviesData = [...this.originalMoviesData];
    },
    handleSortChanged(sortType) {
      this.sortType = sortType;
    }
  },
  created() {
    this.retrieveMoviesData();
  }
}
</script>

<style>
.movies-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  
}



.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .movie-card {
    width: 100%;
  }
}

.error-message {
  color: red;
  margin-top: 1rem;
}
</style>
