<template>
    <div>
      <label for="movies-sort">Trier par :</label>
      <select v-model="selectedSortType" id="movies-sort" @change="sortMovies">
        <option value="AZTitle">Titres de A à Z</option>
        <option value="ZATitle">Titres de Z à A</option>
        <option value="Top250">Top 250</option>
      </select>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        selectedSortType: "Top250",
      };
    },
    mounted() {
      const sortType = localStorage.getItem("sortType");
      if (sortType) {
        this.selectedSortType = sortType;
        this.sortMovies();
      }
    },
    methods: {
      sortMovies() {
        localStorage.setItem("sortType", this.selectedSortType);
        this.$emit("sort-changed", this.selectedSortType);
      },
    },
  };
  </script>
  