<template>
  
  <div class="top-movies">
    <div class="gallery-options">
				<input type="text" name="search" placeholder="Chercher un chien">
		</div>

    <div>
      <p class="rank">{{rank}}</p>
      <h2 class="title">{{title}}</h2>
      
      <img class="picture" :src="image" />
    </div>  
  </div>
  
</template>


<script>


export default {
  name: 'TopMovies',
  props:{
    title :String,
    rank :Number,
    image :String,
  },
  

  

}
</script>

<style>

.picture {
  max-width: 100%;
  height: auto;
}


.top-movies {
  /* max-width: 100%;
  height: auto; */
  display: flex;
  display: block;
  flex-wrap: wrap;
  background-color: rgb(255, 0, 0);
  border: solid black;
}


/* Pour les écrans de bureau */
@media (min-width: 992px) {
  .top-movies {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
}

/* Pour les appareils mobiles */
@media (max-width: 991px) {
  .top-movies {
    display: block;
  }
  .top-movies > .top-movie {
    margin-bottom: 20px;
  }
}




</style>