<template>
  <div>
    <MainHeader :pageTitle="'Top 250 IMDb Movies'" />
    <MoviesGallery />
    <MainFooter />
  </div>
</template>

<script>
import MainHeader from './components/MainHeader.vue';
import MoviesGallery from './components/MoviesGallery.vue';
import MainFooter from './components/MainFooter.vue';

export default {
  name: "App",
  components: {
    MainHeader,
    MoviesGallery,
    MainFooter
  }
}
</script>

<style>
</style>
